
.xsync-button {
    padding: 2px;
    margin: 5px;
}

.xsync-submit-button {
    margin: 5px;
}

#xsync-remote-credentials {
    margin: 5px 10px;
}

.credentials-header {
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.credentials-header > .remote-site {
    white-space: nowrap;
}

.credentials-input {
    display: block;
    margin-top: 20px;
}

.credentials-input > b {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
}

div.row1 {
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
}

div.xsync-imaging-session-assessor, div.xsync-imaging-session-scan {
    border: 1px solid #aaa;
    background-color: #EEF3FF;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

div.xsync-container {
    width: 100%;
    margin: 5px 5px 5px 38px;
    padding: 5px;
    border: 1px solid #aaa;
    background-color: #FFFFFF;
}

div.col1 {
    width: 150px;
    float: left;
}

div.col2 {
    margin-left: 75px;
    width: 150px;
    float: left;
}

.project-resource-input,
.subject-resource-input,
.subject-assessor-resource-input,
.imaging-session-resource-input,
.imaging-session-scan-type-input,
.imaging-session-assessor-xsitype-input {
    margin-left: 75px;
}

.imaging-scan-resource-input,
.imaging-assessor-resource-input {
    margin-left: 150px;
}

#xsync-history-container {
    border: 1px;
    background-color: #FFFFFF;
    border-color: #AAAAAA;
    border-style: solid;
    width: 98%;
    margin: 5px;
    padding: 5px;
}

#xsync-history-table td {
    /*border: none;*/
}

.xsync-history-scroll {
    max-height: 150px;
    overflow-y: scroll;
}

#xsync-history-header {
    padding: 0;
    margin: 10px 5px 5px;
    border: none;
}

div.xmodal div.panel h3.panel-title {
    margin: 0 !important;
}

#xsync-details-modal .xnat-tab-content.side {
    min-height: 600px;
}

.center,
.centered {
    text-align: center;
}

.align-left,
.text-left {
    text-align: left;
}

.align-right,
.text-right {
    text-align: right;
}

.nowrap,
.no-wrap {
    white-space: nowrap;
}
